/* Layout */
html {
  height: -webkit-fill-available;
}

.pancake {
  display: grid;
  grid-template-rows: auto, 1fr, auto;
  align-items: center;
  height: 100vh;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

@media(max-width: 500px) {
  .pancake {
    height: auto;
  }
}



/* Header */

.header img {
  max-width: 100%;
  height: auto;
  width: 45%;
}

@media(max-width: 760px) {
  .header img {
    width: 75%;
  }
}


/* Main */


/* Footer */


.footer ul.flex {
  flex-direction: row;
}

.footer li {
  margin: 0 .5rem;
}

.footer a {
  font-size: .8em;
}


.footer.btn {
  display: block;
  width: 100%;
}

.footer .btn .btn-2 {
  display: block;
  width: 100%;
}

.footer a:hover {
  opacity: 75%;
}

/* Buttons Grid */
.footer .btns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: .5em;
}

.footer .btns a:last-child {
  grid-column: 1/4;
}



/* Animation */
.header {
  animation: fade-in 2s;
}

.main {
  animation: fade-in 2.5s;
}

.footer {
  animation: fade-in 3s;
}


@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Mobile */

@media(max-width: 760px) {
  .footer .btns {
    grid-template-columns: 1fr;
  }
  .footer .btns a:last-child {
    grid-column: 1;
  }



}