/* Header */

.header img {
  max-width: 500px;
}


/* Main */

.main a {
  font-size: .8em;
}

.main .btn {
  display: block;
  width: 100%;
}

.main .btn .btn-2 {
  display: block;
  width: 100%;
}

/* Footer */

.footer ul.flex {
  flex-direction: row;
}

.footer li {
  margin: 0 .5rem;
}